// api/emailTemplates/welcomeEmail/html.ejs

p Hi&#32;
	span= Name

p Bạn đã đặt hàng sản phẩm từ Hotdeal.vn
p Chi tiết đơn đặt hàng:
	p
		span tên sản phẩm:
		span= Deal
	p
		span Giá sản phẩm:
		span= Price
	p
		span Số điện thoại người nhận: 
		span= Phone
	p Địa chỉ giao hàng: 
		span #{House}&#32;#{Street}&#32;#{Ward}&#32;#{District}&#32;#{City}&#32;