// api/emailTemplates/welcomeEmail/html.ejs

p Chao&#32;
	span= Name

p Ban da mua san pham tu HOtdeal.vn
p Chi tiet don dat hang: 
	.row
		.col-md-5
			span Ten san pham
		.col-md-7
			span= Deal
	.row
		.col-md-5
			span Gia san pham
		.col-md-7
			span= Price
	.row
		.col-md-5
			span So dt nguoi nhan
		.col-md-7
			span= Phone
	p Dia chi giao hang:
		span= House
		span= Street
		span= Ward
		span= District
		span= City
