block vars
	-title="Categories Hotdeal"
extends layouts/layout
block main
	.hm-sec-blk
		.prd-info-blk
			.container
				.prd-itm-blk
					h2.prd-title #{results[2].name}
					if (results[1].length === 0)
						h3 Bạn chưa có sản phẩm nào thuộc nhóm này
					else
						.row
							-for (var i = 0; i < results[1].length; i++)	
								.col-md-3
									.prd-itm
										a(href="/deal?id=#{results[1][i].id}")
											if (results[1][i].image)
												figure
													img.img-prd(src="#{sails.getBaseurl()}/images/products/#{results[1][i].image}", alt="product")
													input(type="hidden", value="#{results[1][i].image}", name="image")
											p.txt-name-prd #{results[1][i].nameprd}
											p.txt-new-price
												span #{results[1][i].price}
												sup đ
											.itm-meta
												.time-off
													p.timer
														span còn&#32;
														span(class="countime-down" data-time="#{results[1][i].dateOff}")
												.btn-buy-now
													span Mua ngay
