block vars
	-title="Detail Page"
extends layouts/layout
block main
	.hm-sec-blk
		.container
			.row
				.col-md-8
					.box
						p Địa chỉ giao hàng
						hr
						form(class="form-input-address" action="order/create" method="POST")
							input(type="hidden", name="nameprd", value="#{results[3].nameprd}")
							input(type="hidden", name="price", value="#{results[3].price}")
							.row
								.col-md-6
									.form-group
										label Họ và tên
										input.form-control(name="nameOrder", type='text', placeholder='Họ và tên người nhận')
								.col-md-6
									.form-group
										label Số điện thoại
										input.form-control(name="phoneOrder", type='text', placeholder='Số điện thoại người nhận')
							.row
								.col-md-6
									.form-group
										label Email
										input.form-control(name="emailOrder", type='text', placeholder='Email người nhận')
										
								.col-md-6
									.form-group
										label Địa chỉ
										input.form-control(name="houseOrder", type='text', placeholder='Số nhà')
										
							.row
								.col-md-6
									.form-group
										label Đường
										input.form-control(name="streetOrder", type='text', placeholder='Ví dụ: Quang Trung')
										
								.col-md-6
									.form-group
										label Phường / Xã
										input.form-control(name="wardOrder", type='text', placeholder='Ví dụ: Phường 14')
										
							.row
								.col-md-6
									.form-group
										label Quận / Huyện
										input.form-control(name="districtOrder", type='text', placeholder='Ví dụ: Quận Gò Vấp')
										
								.col-md-6
									.form-group
										label Thành phố 
										input.form-control(name="cityOrder", type='text', placeholder='Ví dụ: Thành phố Hồ Chí Minh')
							input(type="hidden", name="_csrf", value=_csrf)
							button.btn.btn-lg.btn-primary Cập nhật
										
	
				.col-md-4
					.box
						p Thông tin sản phẩm
						hr
						.row
							.col-md-6
								span Tên sản phẩm
							.col-md-6
								span #{results[3].nameprd}
						.row
							.col-md-6
								span Giá sản phẩm
							.col-md-6
								span #{results[3].price}
			



