block vars
	-title="Hotdeal.vn"
extends layouts/layout
block main	
	.hm-sec-blk
		.container
			- each detail in data[1]
					.col-prd-itm
						a(href="javascripy:;")
							if (detail.image !== '')
								img.img-prd(src="#{sails.getBaseurl()}/images/products/#{detail.image}", alt="product")
								input(type="hidden", value="#{detail.image}", name="image")
							p.txt-name-prd #{detail.nameprd}
						p 
							span.txt-new-price #{detail.price}
							