doctype html
html
	head
		if locals.title
			title= title
		else
			title Hotdeal.vn

		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		//-
			Stylesheets and Preprocessors
			==============================

			You can always bring in CSS files manually with `<link>` tags, or asynchronously
			using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
			of Sails' conventional asset pipeline (boilerplate Gruntfile).

			By default, stylesheets from your `assets/styles` folder are included
			here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
			are supported. In production, your styles will be minified and concatenated into
			a single file.

			To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
			For example, here are a few things you could do:

					+ Change the order of your CSS files
					+ Import stylesheets from other directories
					+ Use a different or additional preprocessor, like SASS, SCSS or Stylus

		// STYLES
		link(rel="stylesheet", href="/styles/css/bootstrap.min.css")
		link(rel="stylesheet", href="/styles/css/custom.css")
		link(rel="stylesheet", href="/styles/css/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/css/header.css")
		link(rel="stylesheet", href="/styles/css/main.css")
		link(rel="stylesheet", href="/styles/css/morris.css")
		link(rel="stylesheet", href="/styles/css/sb-admin-rtl.css")
		link(rel="stylesheet", href="/styles/css/sb-admin.css")
		// STYLES END

		block styles
	body
		#wrapper
			// Navigation
			nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
				.container
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						if (session.authenticated)
							a.navbar-brand(href='/user/admin/'+session.User.id) SB Admin
						a.navbar-brand(href='/') Visit website
					// Top Menu Items
					ul.nav.navbar-right.top-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-envelope
								b.caret
							ul.dropdown-menu.message-dropdown
								li.message-preview
									a(href='#')
										.media
											span.pull-left
												img.media-object(src='http://placehold.it/50x50', alt='')
											.media-body
												h5.media-heading
													strong John Smith
												p.small.text-muted
													i.fa.fa-clock-o
													|  Yesterday at 4:32 PM
												p Lorem ipsum dolor sit amet, consectetur...
								li.message-preview
									a(href='#')
										.media
											span.pull-left
												img.media-object(src='http://placehold.it/50x50', alt='')
											.media-body
												h5.media-heading
													strong John Smith
												p.small.text-muted
													i.fa.fa-clock-o
													|  Yesterday at 4:32 PM
												p Lorem ipsum dolor sit amet, consectetur...
								li.message-preview
									a(href='#')
										.media
											span.pull-left
												img.media-object(src='http://placehold.it/50x50', alt='')
											.media-body
												h5.media-heading
													strong John Smith
												p.small.text-muted
													i.fa.fa-clock-o
													|  Yesterday at 4:32 PM
												p Lorem ipsum dolor sit amet, consectetur...
								li.message-footer
									a(href='#') Read All New Messages
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								i.fa.fa-bell
								b.caret
							ul.dropdown-menu.alert-dropdown
								li
									a(href='#')
										| Alert Name 
										span.label.label-default Alert Badge
								li
									a(href='#')
										| Alert Name 
										span.label.label-primary Alert Badge
								li
									a(href='#')
										| Alert Name 
										span.label.label-success Alert Badge
								li
									a(href='#')
										| Alert Name 
										span.label.label-info Alert Badge
								li
									a(href='#')
										| Alert Name 
										span.label.label-warning Alert Badge
								li
									a(href='#')
										| Alert Name 
										span.label.label-danger Alert Badge
								li.divider
								li
									a(href='#') View All
						li.dropdown
							if (session.authenticated)
								a.dropdown-toggle(href='/user/show/'+session.User.id, data-toggle='dropdown')
									.img-avatar.pull-left
										if (session.User.avatar !== '')
											img.img-circle.img-avatar(src="#{sails.getBaseurl()}/images/avatar/#{session.User.avatar}", alt="Avatar")
											input(type="hidden", value="#{session.User.avatar}", name="avatar")
										else 
											img.img-circle.img-avatar(src="#{sails.getBaseurl()}/images/abc.png", alt="")
									| #{session.User.name}
									b.caret
							ul.dropdown-menu
								li
									if (session.authenticated)
										a(href='/user/show/'+session.User.id)
											i.fa.fa-fw.fa-user
											|  Profile
								li
									a(href='#')
										i.fa.fa-fw.fa-envelope
										|  Inbox
								li
									a(href='#')
										i.fa.fa-fw.fa-gear
										|  Settings
								li.divider
								if (session.authenticated)
									li
										a(href='/session/destroy')
											i.fa.fa-fw.fa-power-off
											|  Log Out
					// Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
					.collapse.navbar-collapse.navbar-ex1-collapse
						ul.nav.navbar-nav.side-nav
							li.active
								if (session.authenticated)
									a(href='/user/admin/'+session.User.id)
										i.fa.fa-fw.fa-dashboard
										|  Dashboard
							if (session.authenticated && session.User.admin)
								li
									a(href='/user/')
										i.fa.fa-fw.fa-users
										|  Users
							li
								a(href='/cate')
									i.fa.fa-fw.fa-tasks
									|  Category products
							li
								a(href='/detail')
									i.fa.fa-fw.fa-edit
									|  Detail products
							li
								a(href='/order')
									i.fa.fa-fw.fa-shopping-cart
									|  Order
					// /.navbar-collapse
			#page-wrapper
				.container-fluid
					// /#wrapper
					block body
			
					//-
						Client-side Templates
						========================

						HTML templates are important prerequisites of modern, rich client applications.
						To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
						that you load these templates client-side.

						By default, your Gruntfile is configured to automatically load and precompile
						client-side JST templates in your `assets/templates` folder, then
						include them here automatically (between TEMPLATES and TEMPLATES END).

						To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
						For example, here are a few things you could do:

								+ Import templates from other directories
								+ Use a different template engine (handlebars, jade, dust, etc.)
								+ Internationalize your client-side templates using a server-side
						stringfile before they're served.

		// TEMPLATES
		
		// TEMPLATES END

		//-
			Client-side Javascript
			========================

			You can always bring in JS files manually with `script` tags, or asynchronously
			on the client using a solution like AMD (RequireJS).  Or, if you like, you can
			take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

			By default, files in your `assets/js` folder are included here
			automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
			CoffeeScript (.coffee) are supported. In production, your scripts will be minified
			and concatenated into a single file.

			To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
			For example, here are a few things you could do:

					+ Change the order of your scripts
					+ Import scripts from other directories
					+ Use a different preprocessor, like TypeScript

		// SCRIPTS
		script(src="/js/dependencies/sails.io.js")
		script(src="/js/dependencies/aajquery.js")
		script(src="/js/dependencies/bootstrap.min.js")
		script(src="/js/dependencies/raphael.min.js")
		script(src="/js/dependencies/start.js")
		// SCRIPTS END

