block vars
	-title="Detail product Hotdeal.vn"
extends ../layoutadmin
block body
	h2 Detail products
	hr
	form.form-sign-up(name="newprd" action="/detail/update/"+detail.id, method="POST", enctype="multipart/form-data")
		
		.form-group
			label Name
			input.form-control(value="#{detail.nameprd}" type="text", name="nameprd", placeholder="Name product")
		.form-group
			label Price(VND)
			input.form-control(value="#{detail.price}" type="text", name="price", placeholder="Price product")
		.form-group
			label Image product
			if (detail.image !== '')
				img.img-prd(src="#{sails.getBaseurl()}/images/products/#{detail.image}", alt="product")
				input(type="hidden", value="#{detail.image}", name="image")
			input(type="file", name="prdUpdate", id="image_prd_detail")
		.form-group
			label Descrice
			input.form-control(value="#{detail.descrice}" name="descrice")
		.form-group
			label Number
			input.form-control(value="#{detail.number}" type="text", name="number", placeholder="Number product")
		.form-group
			label Time (day)
			input.form-control(value="#{detail.time}" type="text", name="time", placeholder="Time count dowm")
		.submit-btn
			button.btn.btn-primary(type="submit") Update
		input(type="hidden", name="_csrf", value=_csrf)
